@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<MusicaMVC.Models.Artista>;
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Lista Artistas</h2>
        <a asp-controller="Artista" asp-action="Nuevo" class="btn btn-success mb-3">Nuevo</a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>IdArtista</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdArtista</td>
                        <td>@item.Nombre</td>
                        <td>
                            <a 
                                asp-controller="Artista"
                                asp-action="Editar"
                                asp-route-id="@item.IdArtista"
                                class="btn btn-primary">
                                Editar
                            </a>
                            <a
                                asp-controller="Artista"
                                asp-action="Eliminar"
                                asp-route-id="@item.IdArtista"
                                onclick="return confirmar()"
                                class="btn btn-danger">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        function confirmar()
        {
            return confirm("Desea eliminar el Artista ?")
        }
    </script>
}