@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MusicaMVC.ViewModel.AlbumViewModel;
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Agregar Album</h2>
        <form asp-controller="Album" asp-action="Nuevo" method="post">
            <div class="mb-3">
                <label>Nombre</label>
                <input class="form-control" asp-for="AlbumVM.Nombre" type="text" />
            </div>
            <div class="mb-3">
                <label>Artista</label>
                <select class="form-control" asp-for="AlbumVM.IdArtista" asp-items="Model.Artistas"></select>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Agregar</button>
                <a asp-controller="Album" asp-action="Lista" class="btn btn-warning">Volver</a>
            </div>
        </form>
    </div>
</div>